/*
Theme Name: mytheme1
Theme URI: https://wordpress.org/themes/mytheme1/
Author: priyanka
Author URI: https://avantegardesite.wordpress.com/
Description: my first minor project theme
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

    

body {
    background-color: lightgrey;
}

 .bg-white{
 	background-color: white;
 }
 .right-separation-border{
 	border-right: 1em solid lightgrey;
 }
.blog-heading{
	font-family: sans-serif ;
	
}

 .widget {
 	width: 100%;
 	font-family: tahoma, sans-serif;
 	list-style: none;
 }
 .widget ul li {
 	list-style: none;
 	border-bottom: 1px solid lightgrey;
 }
 .widgettitle {
 	font-family: tahoma, sans-serif;
 	font-size: medium;
 	font-weight: bold;
 }

 // row online
 .row-inline {
 	display: inline-block;
 	width: 100%;
 }